<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared-templates/layout">
<head th:replace="layout :: html_head"/>
<body layout:fragment="examContent">
<div class="container">
    <form method="POST" th:object="${data}" action="/instructor/save/" novalidate>
        <input th:field="${data.id}" th:value="${data.id}" type="hidden"/>
        <input th:field="${data.name}" th:value="${data.name}" type="hidden"/>
        <input th:field="${data.startDate}" th:value="${data.startDate}" type="hidden"/>
        <input th:field="${data.endDate}" th:value="${data.endDate}" type="hidden"/>
        <input th:field="${data.creationTimestamp}" th:value="${data.creationTimestamp}" type="hidden"/>
        <div class="card" style="border: 2px solid;" th:name="|question-'${j}'|"
             th:each="question: ${data.question}">
            <div class="card-header">
                <div class="form-group row">
                    <label th:for="|questionInput-'${j}'|" class="col-sm-2 col-form-label">Question:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="${data.question[__${question.number}__].description}"
                               th:name="description" class="form-control"
                               th:id="|questionInput-'${j}'|" required th:placeholder="${question.description}">
                    </div>
                </div>
                <input th:field="${data.question[__${question.number}__].number}" th:value="${question.number}" type="hidden"/>
            </div>

            <div class="card-body" th:each="option: ${question.optionList}">
                <label style="float:right">Check for answer </label>

                <div id='block-11' style='padding: 5px;'>

                    <!--            <input type='radio' name='option' th:value="${i}" id='option-"${i}"' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle;' />-->
                    <div class="form-group" th:required="true">
                        <input th:field="${data.question[__${question.number}__].optionList[__${option.index}__].content}"
                               required th:name="content"
                               placeholder="Option"/>

                        <input th:field="${data.question[__${question.number}__].optionList[__${option.index}__].index}" th:value="${question.number}" type="hidden"/>
                        <div class="form-group" th:required="true">

                            <input
                                    th:field="${data.question[__${question.number}__].optionList[__${option.index}__].correct}"
                                    type="checkbox" th:id='|optionAnswer-"${i}"|' th:value='true' style="float:right">
                        </div>
                        <span id='result-11'></span>
                    </div>
                </div>
                <br>
                <hr/>
            </div>

        </div>

        <br>
        <button type="submit" class="btn btn-outline-primary" style="float:right;">Submit</button>
        <br>


    </form>
</div>
</body>
</html>