<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sharedTemplates/Layout">
<head th:replace="Layout :: html_head"/>
<body layout:fragment="examContent">
<div class="container">
    <form method="POST" th:object="${data}"
          th:action="@{'/instructor/a/'+${data.id}}">

        <div class="card" style="border: 2px solid;" th:each="question: ${data.question}">
            <div class="card-header">
                <div class="form-group row">
                    <label for="inputQuestionLabel" class="col-sm-2 col-form-label">Question:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputQuestionLabel"
                               th:value="${question.description}">
                    </div>
                </div>
            </div>

            <div class="card-body" th:each="option: ${question.optionList}">
                <div id='block-11' style='padding: 5px;'>

                    <input for='option-"${i}"' id='option-${workplaceService.id}"' th:value="${option.content}"/>
                    <input type="checkbox" id="{option-correct-${option}}" th:checked="${option.correct}"
                           style="float:right">
                    <span id='result-11'></span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group text-right">
            <button class="btn btn-primary" type="submit">
                Kaydet
            </button>
        </div>
    </form>
</div>
</body>
</html>