<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sharedTemplates/Layout">
<head>
  <meta charset="utf-8" />
  <title>Square Buttons Effects Template | PrepBootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body layout:fragment="instructorContent">

<div class="container">


  <!-- Square Buttons Effects - START -->
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2>Instructor Controller Panel</h2>
        <p>
          <a th:href="@{/instructor/exam/create}" class="btn btn-squared-default btn-primary">
            <i class="fa fa-key fa-5x"></i>
            <br />
            Create
            <br />
            Exam
          </a>
        </p>
      </div>
    </div>

  </div>

  <style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>

  <!-- Square Buttons Effects - END -->

</div>

</body>
</html>