<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sharedTemplates/Layout">
<head>
    <meta charset="utf-8"/>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body layout:fragment="instructorContent">

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="table">
            <thead>
            <tr>
                <th>Sınav Id</th>
                <th>Sınav İsmi</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Status</th>
                <th>Grades</th>
            </tr>
            </thead>
        </table>
    </div>

    <style>
        .btn-squared-default {
            width: 100px !important;
            height: 100px !important;
            font-size: 10px;
        }

        .btn-squared-default:hover {
            border: 3px solid white;
            font-weight: 800;
        }

        .btn-squared-default-plain {
            width: 100px !important;
            height: 100px !important;
            font-size: 10px;
        }

        .btn-squared-default-plain:hover {
            border: 0px solid white;
        }
    </style>

    <!-- Square Buttons Effects - END -->

</div>
<th:block layout:fragment="script">
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../static/js/dataTables.bootstrap4.min.js" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script src="../static/js/datatableInitializer.js" th:src="@{/js/datatableInitializer.js}"></script>
    <script>
        $(document).ready(function () {
            DatatableUtils.initializer("#table", {
                ajax: {
                    "url": "/exam/list",
                    "type": "POST"
                },
                columnDefs: [{
                    "targets": 0,
                    "data": "id",
                    "render": DatatableUtils.renderRoute('/instructor/exam/detail')
                },{ //
                    "targets": 1,
                    "data": "name",
                }, {
                    "targets": 2,
                    "data": "startDate",
                    "render": DatatableUtils.renderDateTime("startDate")

                }, {
                    "targets": 3,
                    "data": "endDate",
                    "render": DatatableUtils.renderDateTime("endDate")
                }, {
                    "targets": 4,
                    "data": "status",
                    "render": DatatableUtils.renderStatus("status")
                },{
                    "targets": 5,
                    "data": "id",
                    "render": function (data) {
                        var buttons="";
                        buttons+=('<a href="/instructor/exam/detail/' + data + '" data-toggle=\'tooltip\' title=\'Edit\'><i class=\'fa fa-pencil text-info mr-3 ml-2\'></i></a>');
                        buttons+=('<a href="/instructor/exam/resultDetail/' + data + '" data-toggle=\'tooltip\' title=\'Grades\'><i class=\'fas fa-calendar-week\'></i></a>');
                        return buttons;
                    }}, ]
            });
        });
    </script>
</th:block>

<!--<th:block layout:fragment="script">-->
<!--    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>-->
<!--    <script src="../static/js/dataTables.bootstrap4.min.js" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>-->
<!--    <script src="../static/js/datatableInitializer.js" th:src="@{/js/datatableInitializer.js}"></script>-->
<!--    <script>-->
<!--        // var url = '[[${type}]]' === 'active' ? "exam/actives" : "exam/list"-->

<!--        $(document).ready(function () {-->
<!--            DatatableUtils.initializer("#table", {-->
<!--                ajax: {-->
<!--                    "url": "/exam/active",-->
<!--                    "type": "POST"-->
<!--                },-->
<!--                columnDefs: [{-->
<!--                    "targets": 0,-->
<!--                    "data": "id",-->
<!--                    // "render": DatatableUtils.renderRoute('/instructor/exam/detail')-->
<!--                }, { //-->
<!--                    "targets": 1,-->
<!--                    "data": "name",-->
<!--                }, {-->
<!--                    "targets": 2,-->
<!--                    "data": "startDate",-->
<!--                    "render": DatatableUtils.renderDateTime("startDate")-->

<!--                }, {-->
<!--                    "targets": 3,-->
<!--                    "data": "endDate",-->
<!--                    "render": DatatableUtils.renderDateTime("endDate")-->
<!--                }, {-->
<!--                    "targets": 4,-->
<!--                    "data": "status",-->
<!--                    "render": DatatableUtils.renderStatus("status")-->
<!--                },-->
<!--                    {-->
<!--                    "targets": 5,-->
<!--                    "data": "id",-->
<!--                    // "render": function (data) {-->
<!--                    //     var buttons=[];-->
<!--                    //     buttons.push('<a href="/instructor/exam/detail/' + data + '" data-toggle=\'tooltip\' title=\'Edit\'><i class=\'fa fa-pencil text-info\'></i></a>');-->
<!--                    //-->
<!--                    //     buttons.push('<a href="/instructor/exam/resultDetail/' + data + '" data-toggle=\'tooltip\' title=\'Grades\'><i class=\'fas fa-calendar-week\'></i></a>');-->
<!--                    //-->
<!--                    //     console.log("&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;")-->
<!--                    //     console.log(buttons)-->
<!--                    //     console.log("&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;")-->
<!--                    //     return buttons;-->
<!--                    // }-->
<!--                }-->

<!--                ]-->
<!--            })-->
<!--            ;-->
<!--        })-->
<!--        ;-->
<!--    </script>-->
<!--</th:block>-->
</body>
</html>