<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="sharedTemplates/Layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="examContent">

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="table">
        <thead>
        <tr>
            <th>Sınav Id</th>
            <th>Sınav İsmi</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Status</th>

        </tr>
        </thead>
    </table>
</div>

<th:block layout:fragment="script">
    <script src="../../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../../static/js/dataTables.bootstrap4.min.js" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script src="../../static/js/datatableInitializer.js" th:src="@{/js/datatableInitializer.js}"></script>
    <script>

    </script>
</th:block>

<th:block layout:fragment="script">
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="../static/js/dataTables.bootstrap4.min.js" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script src="../static/js/datatableInitializer.js" th:src="@{/js/datatableInitializer.js}"></script>
    <script>
        $(document).ready(function () {
            DatatableUtils.initializer("#table", {
                ajax: {
                    "url": "/exam/list",
                    "type": "Post"
                },
                columnDefs: [
                    {
                        "targets": 0,
                        "data": "id",
                    },
                    {
                        "targets": 1,
                        "data": "name",
                    },
                    {
                        "targets": 2,
                        "data": "user.username",

                    },
                    {
                        "targets": 3,
                        "data": "description",
                    }, {
                        "target":4,
                        "data":"status"
                    }
                ]
            });
        });
    </script>
</th:block>
</body>
</html>