<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sharedTemplates/Layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="studentExamListContent">
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="table">
        <thead>
        <tr>
            <!--            <th>Exam Id</th>-->
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Result</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    <th:block layout:fragment="script">
        <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script src="../static/js/dataTables.bootstrap4.min.js" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
        <script src="../static/js/datatableInitializer.js" th:src="@{/js/datatableInitializer.js}"></script>
        <script>

            var id = [[${examId}]];

            $(document).ready(function () {
                DatatableUtils.initializer("#table", {
                    ajax: {
                        "url": "/instructor/exam/results/" + id,
                        "type": "POST"
                    },
                    columnDefs: [{
                        "targets": 0,
                        "data": "student.db_id",

                    }, {
                        "targets": 1,
                        "data": "student.name",

                    }, {
                        "targets": 2,
                        "data": "score",
                    }, {
                        "targets": 3,
                        "data": "student.db_id",
                        "render": DatatableUtils.renderStudentGradeOperation(id)}]
                });
            });
        </script>
    </th:block>
</div>
</body>
</html>