<!DOCTYPE html>
<html lang="tr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="utf-8"/>
    <title>Exam System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/ticket.css" rel="stylesheet" th:href="@{/css/ticket.css}"/>
    <link href="../static/css/jpopup.css" rel="stylesheet" th:href="@{/css/jpopup.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/1e67119513.js"></script>

</head>
<body>
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<!--<script src="/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>-->
<!--<script src="/static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
<!--<script src="../static/js/jpopup.js" th:src="@{/js/jpopup.js}"></script>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Exam System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Exams
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:if="${currentUser.isInstructor()}">

                        <a class="dropdown-item" href="#"><i class="fas fa-stopwatch pr-2"
                                                             style="size: 3px; color: #7face4"></i>Active</a>
                    </div>
                    <a class="dropdown-item" href="/pendingExams"><i class="fas fa-business-time pr-2"
                                                                     style="size: 3px; color: #3e4143"></i>Pending</a>
                    <a class="dropdown-item" href="/completed"><i class="fas fa-check-circle pr-2"
                                                         style="size: 3px; color: #277011"></i>Ended</a>
                    <div th:if="${currentUser.isInstructor()}">

                        <a class="dropdown-item" href="#"><i class="fas fa-file-excel pr-2"
                                                             style="size: 3px; color: #d78529"></i>Passive</a>
                    </div>

                    <div th:if="${currentUser.isInstructor()}">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/instructor/exam/createPage"><i class="fas fa-feather-alt pr-2"
                                                                                       style="size: 3px; color: #a173be"></i>New
                            Exam</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/logout">Logout</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<th:block layout:fragment="examContent"></th:block>
<th:block layout:fragment="instructorContent"></th:block>
<th:block layout:fragment="createExamContent"></th:block>
<th:block layout:fragment="examResultContent"></th:block>
<th:block layout:fragment="studentExamListContent"></th:block>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<th:block layout:fragment="script"></th:block>
</body>
</html>